.order-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.order-text{
    padding-left: 50px;
}

.help-text{
    position: absolute;
    right: 15px;
    bottom: 13px;
    a{
        font-size: 14px;
    }
}