.cart-container {
	max-width: 410px;
	margin-left: auto;
	font-size: 16px;
	line-height: 22px;
	height: calc(100vh - 82px);
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 82px;
	.cart-heading {
		padding: 15px;
		font-size: 18px;
		font-weight: 500;
		h1{
			margin-left: 8px;
		}
		.add-to-cart{
			font-size: 14px;
			line-height: 18px;
			img{
				position: relative;
				top: -1px;
				margin-right: 3px;
				display: inline-block;
				vertical-align: middle;		
			}
		}
	}
	.secure-checkout{
		max-width: 410px;
		left: auto;
		@media (max-width: 767px) {
			max-width: 100%;
		}
	}
	&.visible{
		right: 0;
	}
	@media (max-width: 767px) {
		max-width: 100%;
	}
}
